APP_ENV=production

RABBIT_MQ_LINK=amqp://amadeus:amadeus@localhost:5672

APP_ID=11111111
APP_HASH=9XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PHONE=+99999999999
PASSWORD=really_strong_password
SESSION_FILE=./session.json
HOST=localhost
PORT=8080
